<%- include('../partials/header') %>
<main class="edit-profile-container">
    <h1>Edit Account Info</h1>
  <form class="edit-form" method="POST" 
    action="<%= isSelf ? '/dashboard/profile/edit' : '/dashboard/admin/' + targetUser.id + '/edit' %>">
        <div>
        <label for="name">Name:</label>
        <input
            type="text"
            id="name"
            name="name"
            value="<%= targetUser.name %>"
            minlength="2"
            maxlength="100"
            required
        />
        </div>

        <div>
        <label for="email">Email:</label>
        <input
            type="email"
            id="email"
            name="email"
            maxlength="255"
            value="<%= targetUser.email %>"
            required
        />
        </div>

        <div>
        <label for="address">Address:</label>
        <input
            type="text"
            id="address"
            name="address"
            value="<%= targetUser.address %>"
        />
        </div>

        <% if(user.roleName === "admin" && targetUser.roleName !== "admin") { %>
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role" class="select-role">
                <option value="admin" <%= targetUser.roleName === "admin" ? "selected" : "" %>>Admin</option>
                <option value="owner" <%= targetUser.roleName === "owner" ? "selected" : "" %>>Owner</option>
                <option value="user" <%= targetUser.roleName === "user" ? "selected" : "" %>>User</option>
            </select>
        </div>
        <% } %>

        <button type="submit">Update Account</button>
        <a href="/dashboard/<%= user.roleName %>">Cancel</a>
  </form>
</main>
<%- include('../partials/footer') %>
