<%- include('partials/header')%>
<main>
  <section class="restaurant-container">
    <!-- HERO SECTION  -->
    <div class="hero-container">
      <div class="hero-img-container">
        <img
          src="/images/restaurants/<%= restaurant.slug %>.jpg"
          class="restaurant-background"
          alt="restaurant background image"
        />
        <img
          src="/images/restaurants/<%= restaurant.slug%>-logo.png"
          class="restaurant-logo"
          alt="restaurant logo"
        />
      </div>
      <div class="header-form-container">
        <h1><%= restaurant.name %></h1>
        <form
          action="/restaurant/<%= restaurant.slug%>"
          class="restaurant-search-form"
          method="get"
        >
          <input name="q" type="text" placeholder="Search <%= restaurant.name %>" />
          <button class="search-btn" type="submit" aria-label="submit button">
            <svg class="icon">
              <use xlink:href="/images/sprite.symbol.svg#search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="restaurant-info-container">
        <%
          const currentTime = new Date().toTimeString().slice(0, 8); // HH:MM:SS
          const isOpen = (currentTime >= restaurant.openHour && currentTime <= restaurant.closeHour)
              ? 'Open'
              : 'Closed';
          %>
        <div class="basic-info">
          <% if (restaurant.averageRating) { %>
            <p><%= Number(restaurant.averageRating).toFixed(1) %>&#11088;</p>
          <%} else {%>
            <p>No Rating</p>
          <%  } %>
          <span>&#9679;</span>
          <p><%= restaurant.openHour.slice(0,5)%> - <%= restaurant.closeHour.slice(0,5)%></p>
          <span>&#9679;</span>
          <p style="color: red;"><%= isOpen%></p>
          <p class="address"><%= restaurant.address%></p>
        </div>
        <div class="delivery-info">
          <p class="delivery-fee">delivery fee<br /><span>$<%= restaurant.deliveryFee%></span></p>
          <p>delivery time<br /><span><%= restaurant.deliveryMinutes %> mins</span></p>
        </div>
      </div>
    </div>

    <!-- RESTAURANT MAIN SECTION  -->
    <div class="restaurant-main-container">
      
       <% if (restaurant.dealName) {%>
      <div class="restaurant-deal-container">
        <h1>Deals and Savings</h1>
        <div class="deals-container">
          <div class="deal-card">
            <p><%= restaurant.dealDescription %></p>
            <span>Expires tomorrow by <%= new Date(restaurant.expirationDate).toLocaleDateString() %></span>
              <p class="deal-code">Code: <%= restaurant.dealCode %></p>
          </div>
        </div>
      </div>
      <% } %>

      <div class="restaurant-menu-container">
        <h1>Our Menu</h1>
        <div class="menu-container">
          <!-- for each dish in restaurant  -->
           <% dishes.forEach((dish) => { %>
            <div
            class="dish-card"
            role="button"
            data-name="<%= dish.name%>"
            data-description="<%=dish.description%>"
            data-img-url="/images/dishes/<%=restaurant.slug%>-<%=dish.slug%>.jpg"
          >
            <div class="dish-img-container">
              <img class="dish-img" src="/images/dishes/<%=restaurant.slug%>-<%=dish.slug%>.jpg" />
            </div>
            <div class="dish-info-container">
              <span class="dish-name"><%= dish.name%></span>
              <span class="dish-description"
                ><%= dish.description.slice(0, 18)%>...</span
              >
              <span class="price">$<%= dish.price %></span>
            </div>
            <div class="add-icon">&#43;</div>
          </div>

           <% }) %>
        
        </div>
      </div>
      <!-- expand dish info when being clicked  -->
      <div class="menu-container-expand">
        <div class="wrapper">
          <button class="modal-close-btn" aria-label="close button">
            <svg class="icon">
              <use xlink:href="/images/sprite.symbol.svg#close"></use>
            </svg>
          </button>
          <div class="dish-info-expand-container">
            <h2></h2>
            <p></p>
            <img src="" />
          </div>
          <a href="" class="add-to-cart-btn"> Add to Cart </a>
        </div>
      </div>

      <!-- dish history  -->
      <% if(dishHistory && isLoggedIn) { %>
      <div class="restaurant-history-container">
        <h1>Order Again</h1>
        <div class="menu-container">
          <% dishHistory.forEach((dish) => { %>
            <div
            class="dish-card"
            role="button"
            data-name="<%= dish.name%>"
            data-description="<%=dish.description%>"
            data-img-url="/images/dishes/<%=restaurant.slug%>-<%=dish.slug%>.jpg"
          >
            <div class="dish-img-container">
              <img class="dish-img" src="/images/dishes/<%=restaurant.slug%>-<%=dish.slug%>.jpg" />
            </div>
            <div class="dish-info-container">
              <span class="dish-name"><%= dish.name%></span>
              <span class="dish-description"
                ><%= dish.description.slice(0, 18)%>...</span
              >
              <span class="price">$<%= dish.price %></span>
            </div>
            <div class="add-icon">&#43;</div>
          </div>

          <% }) %>
        </div>
      </div>
      <% } %>

      <div class="restaurant-rating-container">
        <h1>Ratings & Review</h1>
        <% if (isLoggedIn) { %>
          <button class="add-review-btn">Add Review</button>
        <% } else { %>
          <a href="/login" class="add-review-btn2">Add Review</a>
        <% } %>

        <% if (reviews[0].id ) { %>
          <div class="rating-review-container">
            <div class="rating-container">
              <h2><%= Number(restaurant.averageRating).toFixed(1) %></h2>

              <% if (restaurant.averageRating < 2) { %>
                <span>★☆☆☆☆</span>
              <% } else if (restaurant.averageRating < 3) { %>
                <span>★★☆☆☆</span>
              <% } else if (restaurant.averageRating < 4) { %>
                <span>★★★☆☆</span>
              <% } else if (restaurant.averageRating < 5) { %>
                <span>★★★★☆</span>
              <% } else { %>
                <span>★★★★★</span>
              <% } %>
              
              <p><%= reviews.length %></p>
            </div>
            <div class="review-container">
              <% reviews.forEach((review) => { %>
                <div class="review-card">
                <p class="review"><%= review.content %></p>
                <span class="review-date">
                  <% if (review.rating < 2) { %>
                    <span>★☆☆☆☆</span>
                  <% } else if (review.rating < 3) { %>
                    <span>★★☆☆☆</span>
                  <% } else if (review.rating < 4) { %>
                    <span>★★★☆☆</span>
                  <% } else if (review.rating < 5) { %>
                    <span>★★★★☆</span>
                  <% } else { %>
                    <span>★★★★★</span>
                  <% } %>
                  &#9679; <%= review.createdAt %></span>
              </div>
              <% }) %>
            </div>
        </div>
          <%} else {%>
            <p>No Review Available</p>
          <%  } %>
        
      </div>

      <div class="review-form-container">
        <div class="wrapper">
          <button class="form-close-btn" aria-label="close button">
            <svg class="icon">
              <use xlink:href="/images/sprite.symbol.svg#close"></use>
            </svg>
          </button>
          <!-- action should be a route to run ProcessReviewInput() -->
          <form action="/restaurant/restSlug" method="post" class="review-form">
            <h3>How would you rate restaurant Name?</h3>
            <div class="form-group">
              <label for="rating">Rating (1 to 5)</label>
              <input
                type="range"
                id="rating"
                class="rating-input"
                name="rating"
                min="1"
                max="5"
                step="1"
              />
            </div>
            <div class="form-group">
              <label for="review">Review:</label>
              <textarea
                id="review"
                name="review"
                class="review-input"
                minlength="2"
                rows="10"
                placeholder="Please enter your review here"
              ></textarea>
            </div>
            <div class="form-btn-container">
              <a class="cancel-review-btn" href="/restaurant/<%=restaurant.slug%>"
                >Cancel</a
              >
              <button type="submit" class="save-review-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('partials/footer')%>
